#
# Editor Cruft
#

*~
.emacs-flc
.*.sw*
.#*
\#*


#
# Mac stuff
#
.DS_Store

#
# zsh cruft
#
.zcompdump*

#
# Other stuff
# 
fonts.dir
fonts.scale
.uuid
oh-my-zsh

dot.emacs-rc-dir.el
dot.zinit

#
# Exercise care in pushing up ssh
# 
id_*


Brewfile.lock*

