<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
  <menu id="client-menu">
    <item label="Minimize"	name.action="Iconify"	/>
    <item label="Maximize"	name.action="ToggleMaximize" />
    <item label="Fullscreen"	name.action="ToggleFullscreen" />
    <item label="Roll Up/Down"	name.action="ToggleShade" />
    <item label="Decorations"	name.action="ToggleDecorations" />
    <item label="Always on Top"	name.action="ToggleAlwaysOnTop" />

    <!--
	Any menu with the id "workspaces" will be hidden
	if there is only a single workspace available.
    -->
    <menu id="workspaces" label="Workspace">
      <item label="Move Left"	name.action="SendToDesktop" to.action="left" />
      <item label="Move Right"	name.action="SendToDesktop" to.action="right" />
      <separator />
      <item label="Always on Visible Workspace"
	    name.action="ToggleOmnipresent"
	    />
    </menu>
    <!--
	openbox default workspace selector
	to use replace above workspace menu with the example below
	the label is required, but you can change the text.

    <menu id="client-send-to-menu" label="Send to..." />
    -->
    <item label="Close"
	  name.action="Close" />
  </menu>

<menu id="root-menu">
  <!-- Make client-list-combined-menu a submenu of root-menu
       You must supply a label or it will not appear in root-menu -->
  <!--
  <menu id="client-list-combined-menu" label="Running..." />
  -->
  <item label="Web browser">
    <action name="Execute" command="firefox" />
  </item>
  <item label="Terminal">
    <action name="Execute" command="foot" />
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
  <item label="Poweroff">
    <action name="Execute" command="systemctl -i poweroff" />
  </item>
</menu>

<menu id="some-custom-menu">
  <!--
    Creates menu title.
    To create an empty header with no text,
    set label=" ", not label=""
  -->
  <separator label="custom menu" />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
