/* Keyframes */

@keyframes blink-critical {
    to {
        /*color: @white;*/
        background-color: @critical;
    }
}


/* Styles */

/* Colors (gruvbox) */
@define-color black     #282828;
@define-color red       #cc241d;
@define-color green     #98971a;
@define-color yellow    #d79921;
@define-color blue      #458588;
@define-color purple    #b16286;
@define-color aqua      #689d6a;
@define-color gray      #a89984;
@define-color brgray    #928374;
@define-color brred     #fb4934;
@define-color brgreen   #b8bb26;
@define-color bryellow  #fabd2f;
@define-color brblue    #83a598;
@define-color brpurple  #d3869b;
@define-color braqua    #8ec07c;
@define-color white     #ebdbb2;
@define-color bg2       #504945;


@define-color warning   @bryellow;
@define-color critical  @red;
@define-color mode      @black;
@define-color unfocused @bg2;
@define-color focused   @braqua;
@define-color inactive  @purple;
@define-color sound     @brpurple;
@define-color network   @purple;
@define-color memory    @braqua;
@define-color cpu       @green;
@define-color temp      @brgreen;
@define-color layout    @bryellow;
@define-color battery   @aqua;
@define-color date      @black;
@define-color time      @white;
@define-color wkspaces  @brblue;
@define-color taskbar   @braqua;
@define-color idle      @time;
@define-color bluetooth @blue;

@define-color spacer    transparent;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/* The whole bar */
#waybar {
    /* background: rgba(40, 40, 40, 0.8784313725); * #282828e0 */
    background: transparent;
    color: @white;
    font-family: JetBrains Mono, Siji;
    font-size: 10pt;
    /*font-weight: bold;*/
}

/* Each module */
#battery,
#bluetooth,
#clock,
#cpu,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
    padding-left: 8pt;
    padding-right: 8pt;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical;
    animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
    color: @warning;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces button {
    font-weight: bold;
    padding-left: 5pt;
    padding-right: 5pt;
    color: @black;
    background: @wkspaces;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
    color: @white;
    background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
    color: @black;
    background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
    color: @black;
    background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
    background: @black;
    color: @white;
}

#ext-workspaces {
    background: @wkspaces;
    padding-left: 8pt;
    padding-right: 8pt;
}

#taskbar {
    background: @taskbar;
    padding-left: 8pt;
    padding-right: 8pt;
}

#pulseaudio {
    background: @sound;
    color: @black;
}

#network {
    background: @network;
    color: @white;
}

#bluetooth {
    background: @blue;
    color: @white;
}

#bluetooth.off {
    background: @red;
    color: @white;
}

#memory {
    background: @memory;
    color: @black;
}

#cpu {
    background: @cpu;
    color: @white;
}

#temperature {
    background: @temp;
    color: @black;
}

#battery {
    background: @battery;
    color: @white;
}

#tray {
    background: @date;
}

#clock.date {
    background: @date;
    color: @white;
}

#clock.time {
    background: @time;
    color: @black;
}

#idle_inhibitor {
    background: @time;
    color: @black;
}

#idle_inhibitor.activated {
    background: @time;
    color: @red;
}

/* The spacers */
/*
 * We are using these [ "", "" ] for the left and right,
 * and use one on each sideonly.   Hence, see below...
 */

/* modules-left */
#custom-workspaces-left {
    color: @wkspaces;
    background: @spacer;
    font-size: 20pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-workspaces-right {
    color: @wkspaces;
    background: @spacer;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-taskbar-left {
    color: @taskbar;
    background: @spacer;
    font-size: 20pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-taskbar-right {
    color: @taskbar;
    background: @spacer;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* modules-right */
#custom-sound-left {
    color: @sound;
    background: @spacer;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-sound-right {
    color: @spacer;
    background: @sound;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-network-left {
    color: @network;
    background: @sound;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-network-right {
    color: @spacer;
    background: @network;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-bluetooth-left {
    color: @bluetooth;
    background: @network;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-network-right {
    color: @spacer;
    background: @bluetooth;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-memory-left {
    color: @memory;
    background: @bluetooth;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-memory-right {
    color: @spacer;
    background: @memory;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-cpu-left {
    color: @cpu;
    background: @memory;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-cpu-right {
    color: @spacer;
    background: @cpu;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-temperature-left {
    color: @temp;
    background: @cpu;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-temperature-right {
    color: @spacer;
    background: @temp;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-battery-left {
    color: @battery;
    background: @temp;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-battery-right {
    color: @spacer;
    background: @battery;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-language-left {
    color: @layout;
    background: @spacer;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-language-right {
    color: @spacer;
    background: @layout;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-clockdate-left {
    color: @date;
    background: @battery;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-clockdate-right {
    color: @spacer;
    background: @date;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-clocktime-left {
    color: @time;
    background: @date;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-clocktime-right {
    color: @spacer;
    background: @time;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-idle-inhibitor-left {
    color: @idle;
    background: @spacer;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#custom-idle-inhibitor-right {
    color: @spacer;
    background: @idle;
    font-size: 15pt;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
